.attendance-analytic-page h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  color: #0280ca;
}

.attendance-analytic-page h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  color: #0280ca;
  white-space: nowrap;
}
.beneficiary-statistics .box {
  width: 230px;
  padding: 10px;
  border-radius: 8px;
  background: #e3e3e366;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.beneficiary-statistics .box h2 {
  font-size: 34px;
  font-weight: 800;
  line-height: normal;
  color: #0280ca;
}

.attendance-analytic-page .filter-option-section .form-field select {
  background-image: url("../../../assets/arrow-blue.png");
}

.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right,
.apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
  justify-content: flex-end;
  right: 0px;
  position: relative !important;
  left: 0px;
  padding: 46px !important;
}

.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right,
.apexcharts-legend.apx-legend-position-top.apexcharts-align-right:nth-child(2) {
  margin: 0 2px;
}




@media screen and (max-width: 768px) {
 .attendance-analytic-page .summary-card{
    margin-top: 30px;
  }
  .attendance-analytic-page .analytic-filter-section{
    flex-direction: column;
    align-items: flex-start !important;
  }
  .attendance-analytic-page .filter-option-section{
   margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .admin-dashboard .content h4 {
    font-size: 20px;
  }
}
@media screen and (max-width: 522px) {
  .content {
   padding: 0 5px !important;
}

.attendance-analytic-page .filter-option-section .form-field select {
  width: 120px;
  padding: 10px 20px 10px 0;
}

}
@media screen and (max-width: 426px) {
  .content {
    padding: 0 1rem !important;
 }
 .attendance-analytic-page .analytic-filter-section .filter-option-section .form-field {
  width: auto;
}
.attendance-analytic-page .filter-option-section .form-field select {
  width: 90px;
}
.admin-dashboard .content h4 {

  margin-top: 10px;
}
}
@media screen and (max-width: 376px) {
  .attendance-analytic-page .filter-option-section {

    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .attendance-analytic-page .filter-option-section .form-field select {
    width: 130px;
  }
  .attendance-analytic-page .analytic-filter-section .filter-option-section .form-field {
   
  }
}
@media screen and (max-width: 320px) {
  .attendance-analytic-page .filter-option-section .form-field select {
    width: 105px;
}
}