.login-container {
  width: 50%;
  margin: 8rem auto;
  border: 1px solid black;
  padding: 4rem;
  border-radius: 15px;
  border: 1px solid #acacac;
  box-shadow: 0px 4px 75px 0px rgba(0, 0, 0, 0.1);
}

/* LOGIN */

.login-heading {
  color: #444444;
  margin-bottom: 3rem;
  text-align: center;
}

.text-margin {
  margin: 2rem 0;
}

.input-form {
  margin: 2rem 0;
}

.input-form label {
  position: relative;
  z-index: 2;
  margin-bottom: -1.5rem;
  margin-left: 0.4rem;
  padding: 0.5rem;
  background-color: white;
}

.input-form input {
  display: block;
  width: 100%;
  border-radius: 3px;
  border: 0.6px solid #7b7b7b;
  padding: 1rem;
}

.icon-bg {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
}

.edit-icon {
  font-size: 27px;
}

.edit-button {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #0280ca;
  border-radius: 30px;
  color: #fff;
  border: none;
}
