.profile-info-summary {
  line-height: normal;
  white-space: nowrap;
  justify-content: space-between;
  align-items: center;
}
.profile-info-summary img {
  max-width: 12%;
  /* height: auto; */
  border-radius: 50%;
}

.profile-info-summary h4 {
  font-size: 22px;
  font-weight: 600;
  color: #0d9068;
}
.profile-info-summary p {
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}
.profile-info-summary .account-info p span {
  font-size: 13px;
  color: #444444;
}
