.add-form {
  margin: 4rem auto;
  width: 70%;
}

.add-form h2 {
  color: #0280ca;
}
.form-flex {
  display: flex;
  justify-content: space-evenly;
}

input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 5px;
  margin: 1.5rem 0;
  border: 1px solid black;
}

select {
  width: 100%;
  padding: 0.75rem;
  margin: 1.5rem 0;
  border-radius: 5px;
}

.add-form button {
  display: block;
  width: 40%;
  margin: 1rem auto;
  border: none;
  color: white;
  background-color: #0280ca;
  padding: 0.6rem 0;
  border-radius: 25px;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user p:nth-child(1) {
  font-size: 14px;
}

.user img {
  width: 50px;
  border-radius: 60%;
}

.user p {
  font-size: 12px;
}
