@import url('https://fonts.cdnfonts.com/css/lato');

@font-face {
  font-family: "MillikFont";
  src: local("MillikFont"),
    url("./fonts/Millik.ttf") format("truetype");
}



*, body, html {
  margin: 0;
  padding: 0;
  /* min-height: 1000px; */
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.Toastify__toast-container {
width: 400px !important;
}